.card{
    width: 50%;
    margin: 20px;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.489);
    border-radius: 5px;
    background:whitesmoke;
    box-shadow: 4px 5px 10px darkgray;
    cursor: pointer;
    transition: all .2s ease-in;
}

.card img{
    border-radius: 50%;
}   
/* .card:hover{
    transform:rotate(2deg);
} */