.panel-dark{
    background-color: #333;
    color: white;
}
.panel-light{
    background-color: #eee;
    color: black;
}

.button-dark{
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.button-light{
    background-color: #ddd;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}